<div class="container">
  <div class="row">
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__51.png" alt="音乐"/>
      </div>
      <div class="title text-center">邮件</div>
    </div>
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__53.png" alt="书籍">
      </div>
      <div class="title text-center">iCloud</div>
    </div>
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__51.png" alt="音乐"/>
      </div>
      <div class="title text-center">邮件</div>
    </div>
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__53.png" alt="书籍">
      </div>
      <div class="title text-center">iCloud</div>
    </div>
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__51.png" alt="音乐"/>
      </div>
      <div class="title text-center">邮件</div>
    </div>
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__53.png" alt="书籍">
      </div>
      <div class="title text-center">iCloud</div>
    </div>
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__51.png" alt="音乐"/>
      </div>
      <div class="title text-center">邮件</div>
    </div>
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__53.png" alt="书籍">
      </div>
      <div class="title text-center">iCloud</div>
    </div>
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__51.png" alt="音乐"/>
      </div>
      <div class="title text-center">邮件</div>
    </div>
    <div class="col-md-2 item">
      <div class="icon">
        <img src="https://www.icloud.com/system/cloudos2/2005Hotfix9/zh-cn/r$__53.png" alt="书籍">
      </div>
      <div class="title text-center">iCloud</div>
    </div>
  </div>
</div>
