.item {
  padding: 20px 5px;
}

.icon {
  width: 120px;
  height: 120px;
  box-shadow: 0 5px 28px 0 rgba(0,0,0,.1);
  border-radius: 23%;
  overflow: hidden;
  pointer-events: all;
  margin: auto;
}

.icon img {
  width: 120px;
  height: 120px;
}

.title {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}
